:root{
    --TextoSecundario: hsl(227, 10%, 46%);
}

body {
    background-color: hsl(185, 75%, 39%);
    font-family: "Kumbh Sans", serif;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.informacaoes-perfil {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}

.foto-perfil {
    padding: 20px;
    width: 100px;
}

.nome {
    font-weight: 700;
}

.nome span {
    color: var(--TextoSecundario);
    font-weight: 700;
}

.pais {
    color: var(--TextoSecundario);
    padding: 20px;
    border-bottom: 1px solid var(--TextoSecundario);
}

.info-bio {
    display: flex;
    margin: 20px 10px 2px 10px;
    gap: 10px;
    flex: 1;
    text-align: center;
    font-weight: 700;
}

.info-bio .atividade {
    color: var(--TextoSecundario);
    font-weight: 400;
}